{% extends "layout.html" %}
{% load static %}
{% block content %}


<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'img/homeHeading.jpg' %}')">
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
                <h1>Learning To Love<br>(Myself)</h1> 
            </div>
        </div>
    </div>
</div>
</header>

<!-- Content section-->
<section class="py-5">
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>Hello!!</h2>
            <p class="mb-0">I feel like it is time for me to share something about myself that I have known since I was around 13 years old.</p>
            <p class="mb-0">I am gay 🌈</p>
            <p class="mb-0">I have always been so afraid about this part of me but now I can embrace it and love who I am.</p>
            <br>
            <img src="{% static 'img/face1.jpg' %}" style="width:100%">
            <p class="mb-0">I wanted to make an easy way to share my story with people so I built this website. I hope that more love and acceptance will spread through the community as me and many others share their experiences.</p>
            <p class="mb-0">Read my story <a href="{% url 'story' %}" style="font-weight: bold">here</a>.</p>
            
            
        </div>
    </div> 
</div>
</section>   

{% endblock %}
 