{% extends "layout.html" %}
{% load static %}
{% block content %}
    
    <!-- Header - set the background image for the header in the line below-->
 <header class="py-5 bg-image-full" style="background-image: url('{% static 'img/colorfulbackground.png' %}')">
    <div class="text-center my-5">
        <h1 class="site-heading">Resources to Learn More About LGBTQ Experiences</h1>
    </div>
</header>
<br><br>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="https://questionsfromthecloset.com/" target="_blank">
                    <h2 class="post-title">#1 Questions From the Closet</h2>
                    <h3 class="post-subtitle">A podcast by Ben Schilaty and Charlie Bird</h3>
                </a>
                <p>They both have great books too:</p>
                <div class="col">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-3">
                            <img src="{% static 'img/benBook.jpg' %}" width="100%" />
                        </div>
                        <div class="col-3">
                            <img src="{% static 'img/charlieBook2.jpg' %}" width="100%" />
                        </div>
                        <div class="col-3">
                            <img src="{% static 'img/charlieBook.jpg' %}" width="100%" />
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            
            <!-- Divider-->
            <hr class="my-4" />

            <!-- Post preview-->
            <div class="post-preview">
                <a href="https://www.liftandlove.org/" target="_blank">
                    <h2 class="post-title">#2 Lift & Love</h2>
                    <h3 class="post-subtitle">An great podcast and other resources made by two LDS moms with gay sons</h3>
                </a>
            </div>

            <!-- Divider-->
            <hr class="my-4" />

            <!-- Post preview-->
            <div class="post-preview">
                <a href="https://www.listenlearnandlove.org/" target="_blank">
                    <h2 class="post-title">#3 Listen, Learn & Love</h2>
                    <h3 class="post-subtitle">A podcast and book by Richard Ostler who was a former LDS Bishop</h3>
                </a>
            </div>

            <!-- Divider-->
            <hr class="my-4" />

            <!-- Post preview-->
            <div class="post-preview">
                <a href="https://www.churchofjesuschrist.org/topics/gay?lang=eng" target="_blank">
                    <h2 class="post-title">#4 The Church of Jesus Christ of Latter-day Saints</h2>
                    <h3 class="post-subtitle">There is a lot of great advice about how to treat your fellow LGBT+ family around you on this website</h3>
                </a>
            </div>
            <br />
        </div>
    </div>
</div>

{% endblock %}