{% extends "layout.html" %}
{% load static %}
{% block content %}

 <!-- Header - set the background image for the header in the line below-->
 <header class="py-5 bg-image-full" style="background-image: url('{% static 'img/colorfulbackground.png' %}')">
    <div class="text-center my-5">
        <h1 class="site-heading">Questions You May Have....</h1>
    </div>
</header>

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h4>What will this mean for my future?</h4>
                <p class="mb-0">I usually feel very stressed when I think about my future because there are so many different ways my life could go. I think that it doesn’t matter as much as I let myself worry about it. I am going to make the best decisions I can in the situation I am in and I am confident that whatever it looks like it will be great!
                </p>
                <br>
            </div>
            
            <div class="col-lg-6">
                <h4>Does this mean I am leaving the church?</h4>
                <p class="mb-0">I am going to be completely honest with this one… I do not know. I guess I feel like I deserve to be happy and comfortable with myself. Sometimes the church causes me anxiety and pain that makes it hard for me to be happy and comfortable with who I am and that makes me want to not be in the church. However, the church has done good for me too. I am grateful that through the church I have been able to develop such a close and special relationship with my Heavenly Parents and Jesus Christ. It’s a complex thing to figure out so I am making this decision slowly and with lots of thought and prayer.</p>
            </div>
            
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h4>Did I choose to be gay?</h4>
                <p class="mb-0">I definitely did not choose to be gay! After so many years of trying to make the feelings go away I learned that the only thing I could choose was to love myself for who I am. Since I have been able to do that I feel so much happier and confident.</p>
                <br><img src="{% static 'img/sunset.JPG' %}" width="100%">
                <br><br>
            </div>

            <div class="col-lg-6">
                <h4>How does it all fit in with the Plan of Salvation?</h4>
                <p class="mb-0">What a big question. I have studied, prayed, and pondered this question for many hours through the years and have sought revelation from God regarding my place in His plan. Although I do not have all the answers, I do know that God loves me. He has something planned for me that is going to be perfect and everything I could hope for and imagine, plus more.</p>
                <p class="mb-0">I believe in the 9th article of faith, which reads, “We believe all that God has revealed, all that He does now reveal, and we believe that He will yet reveal many great and important things pertaining to the Kingdom of God.”</p>
                <p class="mb-0">A belief of our church is that God still has many important things to reveal about His Kingdom. I know I am not a mistake and that I have a place in His Kingdom. How will that look? I have no idea. But I do know that the church does not yet have all the doctrine regarding LGBT+ individuals. And everyday I pray for more light and revelation regarding this experience to be given to our leaders.</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h4>How can you be an ally to LGBT people?</h4>
                <p class="mb-0">I get that it can be uncomfortable to talk about LGBT+ topics and learn about this stuff for people who aren’t familiar with it. I think that uncomfort or fear comes from not understanding the experience or having misconceptions about it. I’ve seen so many people have a huge change of heart once they hear someone’s journey and experience. I think the biggest thing people can do is to clearly, and strongly show love to LGBT+ people. So many LGBT+ individuals live in fear that their friends or family might not love them if they knew, or don’t approve of, who they are.</p>
                <p class="mb-0">This fear paralized me for so many years and even got in the way of developing relationships with people I care about. Please just love love love. Don’t worry so much about the choices others make, try to see them as God sees them and love like He does. My greatest allies are my family and my close friends who have made it very clear that they accept and love me completely, no matter what.</p>
                <br>
            </div>
            
            <div class="col-lg-6">
                <h4>Why do so many LGBT people leave the church?</h4>
                <p class="mb-0">I can only share my opinion on this question because every single person has their own story to tell. But from my experience of hearing the experiences of others I have found a few common themes:</p>
                <br>
                <ol>
                    <li>They haven’t been able to reconcile or find harmony between the doctrine/gospel and their sexuality and/or gender identity.</li><br>
                    <li>They have felt guided by God to be on the path they are on.</li><br>
                    <li>The cultural aspect of the church doesn’t sit well with them. And have been hurt by members of, or actions of, the church.</li>
                </ol>
               
                <p class="mb-0">I have felt each of these things, but I know there are many other reasons LGBT+ people may have left the church. I would ask that instead of assuming things you should ask them! Do not ever assume you understand others’ circumstances, it is always best to ask them.</p>
            </div>
        </div>
    </div>

    <br><!-- Divider-->
    <hr class="my-4" />

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                {% comment %} <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdhPcyC9m-D453qEkJsh1xlXf22KEfnx_Uyile8_Z53RqFD-g/viewform?embedded=true" 
                    width="100%" height="813" frameborder="0" marginheight="0" marginwidth="0">
                    Loading…
                </iframe> {% endcomment %}
                <div class="card m-2 p-2" style="width: 100%">
                    <div class="text-center">
                        <p class="mb-0">Send me a text if you have any questions or want to talk about more things!</p>
                        <p class="mb-0">(801) 319-3124</p>
                    </div>
                </div>

                <br>
                <!-- Divider-->
                <hr class="my-4" />
                <p class="mb-0"><i>Check out these <a href="{% url 'learnmore' %}" style="font-weight: bold">resources</a> to learn more about others' experiences and stories in this space as an LGBT+ person.<i></p>
                <br>

            </div>          
        </div>
    </div>
</section>

{% endblock %}