{% extends "layout.html" %}
{% load static %}
{% block content %}


 <!-- Header - set the background image for the header in the line below-->
 <header class="py-5 bg-image-full" style="background-image: url('{% static 'img/colorfulbackground.png' %}')">
    <div class="text-center my-5">
        <h1 class="site-heading">My Story</h1>
    </div>
</header>

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <h2>Intro</h2>
                {% comment %} <p class="mb-0">I wanted to share my story to those who are curious about what it’s like to be gay, want to know more of my experience, struggling with this themselves, or those who are wanting to be an ally. </p> {% endcomment %}
                <p class="mb-0">I want to share my story with those who....</p>
                <br>
                <ul>
                    <li>Want to know more of my experience.</li>
                    <li>Are struggling with this themselves.</li>
                    <li>Want to be an ally 🏳️‍🌈</li>
                </ul> 
                <br>
                <h2>Childhood</h2>
                <p class="mb-0">When I was pretty young, around 10 or 11 years old, I felt different from other boys around me. It never really bothered me, it was just something I felt and was aware of. When I was about 13 years old I started to understand that I was attracted to other guys, and this realization was the start of a journey that’s taken years and years to understand, navigate, and love.</p>
                <p class="mb-0">From the moment I became aware of it, I felt like this part of myself was a huge mistake. I was extremely conscious that being attracted to guys was not an okay thing in the church, at school, or in the world around me. I hated that part of me with all my heart, and shamed myself for years. It was something I couldn’t accept as part of who I am. It was not an option to be gay to me. How could it be when so many people and organizations around you treat it the way they do?</p>
                <p class="mb-0">When I say I hated myself, I meant it. The messages around me all pointed to the fact that being gay is bad. Gay people are sinful. Gay people leave the church. Gay people are a cause of the destruction of the family. And so on. All through middle school and high school my energy was spent trying to change who I was.</p>

                <br>
                <h2>Teen Years</h2>
                <p class="mb-0">I’d spend hours praying for a miracle to be changed and made straight. I’d force myself to think like straight people did and talk like they did and act like they did. I would pray for hours through the night for forgiveness and the Atonement to fix me. I would fast every month for God to give me a miracle and take away the “temptation” I was facing. All I wanted was to be able to feel anything for a girl, so that I could be righteous and live a life like what the church taught was good and like I loved growing up with. I wanted to be changed into someone I wasn’t meant to be.</p>
                <p class="mb-0">I absolutely love my family. I’ve always wanted a family like the one I grew up in. I am grateful for my family and they are the greatest source of support and love. I tried everything in my power to not be gay so that I could be “normal” and have that future I always hoped for – a family like the one I grew up in.</p>
                <p class="mb-0">The more I tried to change myself the clearer it became to me that this part of myself would not be going away anytime soon. I believed it wasn’t leaving me because I was evil and not righteous enough, but I’ve come to learn that it simply wasn’t God’s will to change me. I’ve learned that He has made me this way for a reason and it is a key part of my eternal identity as His son.</p>

                <br>
                <h2>Mission in Japan</h2>
                <p class="mb-0">On my mission in Sapporo, Japan I went through a lot of hard experiences with myself trying to figure out what this all meant for me. I also grew close to my Savior, Jesus Christ. I know 100% that He is right here with me every single step. He’s been with me at my lowest points and has helped me get to my high points. I am grateful for the difficult yet spiritual experiences I had on my mission that brought me closer to my Savior than ever before. Without the strength I receive from Him, I’d be lost and surrounded by darkness, as we all would be without the Savior.</p>
                
                <br>
                <h2>Post Mission</h2>
                <p class="mb-0">In all honesty, I thought I’d come home from my mission and magically be straight and find a girl I’d want to marry. But, after going on many dates and even dating one of the best people I have ever known, it was pretty clear to me that dating girls and marrying one simply couldn’t work for me. That realization crushed me. I felt like if I gave up on dating girls I was a failure and was giving in to the darkness and temptations I’ve struggled with my whole life.</p>
                <p class="mb-0">It wasn’t until April, 2021 that something changed. The Spirit helped me get the courage to reach out to a random person on social media who I saw living a happy life as an open gay student at BYU and trying to make it all work with the church. We talked a ton, and he introduced me to some great <a href="{% url 'learnmore' %}" style="font-weight: bold">resources</a> that changed my perspective on so many things.</p>
                <p class="mb-0">Not long after I met this friend, I think the biggest moment for me happened. It was when I actually prayed to God about what He felt about my orientation. I always assumed I knew what He thought about it. I thought He was disgusted with it, and it was something I needed to get out of my life. However, when I actually asked Him I was filled with a love so pure and powerful it was overwhelming and life changing.</p>
                <p class="mb-0">Since then, Heavenly Father, through the Spirit, has continued to help me love myself and embrace every aspect of who I am. He has led me to come out to friends and to family and it has made such a huge difference for me feeling less alone and to feel their love and support.</p>
                
                <br>
                <h2>Looking Forward</h2>
                <p class="mb-0">Coming out to people unfortunately doesn’t make the hard things magically disappear. Imagine a life where you find someone you love. But your church has policies which don’t allow you to be with that person. And not only that, but if you were to be in a committed and loving relationship with that person it would be considered a serious sin and would lose church privileges and potentially membership.</p>
                <p class="mb-0">I can’t even begin to explain how difficult it is to find the space where I can be myself and also feel like there is a place for me in the church. I’ve had to make some adjustments to how I look at things. I have had to realize that my reality is different from the general membership of the church and because of that my life looks a little different.</p>
                <p class="mb-0">A recent experience might help you understand a little bit of what I experience in the church as a gay man. A very close person to me was able to get married recently and I was able to attend their wedding and watch them get sealed in the temple. It was a beautiful and spiritual experience and I was genuinely happy for them. But the whole ceremony was also so painful for me. My heart hurt because I felt like this is something I will never get to experience with someone I love. I felt sad, angry, and hopeless. I watched them smile at each other across the altar and I longed to have that for myself but in a different way. I try to keep moving forward with the hope that I will be able to be with a man I love in a way that my Heavenly Parents have prepared for me.</p>
                <p class="mb-0">My ability to navigate this space comes from trusting in the revelation I receive for myself from the Spirit. My life is so much different than what I expected it to be. As I am figuring out what to do with so many complex parts of this all I know that I will be ok in the end. I know that because I am letting God lead my life and each decision I make. I am confident that however this all works out, it is not going to be how any of us expect, but it will be exactly how it should be.</p>
                
                <p class="mb-0" style="font-weight: bold">To sum up some important truths I know:</p>
                <br>
                <ol>
                    <li>God loves me for who I am.</li>
                    <li>A life with Christ is full of new possibilities and realities.</li>
                    <li>God wants me to be me, the full and authentic me He created.</li>
                    <li>It’s ok to not understand everything right now.</li>
                    <li>God is ready to help and guide our lives when we turn to Him.</li>
                </ol>

                <!-- Divider-->
                <hr class="my-4" />

                <p class="mb-0" style="font-style: italic">Have questions about my experience? Maybe these <a href="{% url 'questions' %}" style="font-weight: bold">Q&As</a> will answer some.</p>
                <p class="mb-0" style="font-style: italic">Want to hear more stories? Check out these <a href="{% url 'learnmore' %}" style="font-weight: bold">resources</a>.</p>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}